<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jovamatt Designs and Supplies offers expert stitching, design services, and supplies from Uhuru Market, Nairobi. Explore high-quality craftsmanship.">
  <meta name="keywords" content="Jovamatt, Jovamatt designs and supplies, Jovamatt designs, Jovamatt stitching, Uhuru Market Nairobi">
  <meta name="author" content="Jovamatt">
  <title><%= title %></title>
  <link rel="icon" type="image/png" href="/assets/images/jovamatt-logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <main class="container mt-4">
    <%- body %>
  </main>
  <%- include('partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
